* {
    color:white;
    font-family: "Segoe UI";
    font-weight: 200;
}

body {
    background-color: black;
    margin:0;
}

.nameForm, .hajimemashite, .renameBtn{
    display:none;
}

.renameForm {
    display:inline;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity : 100;
    }
}

@keyframes fadeout {
    0% {
        opacity: 100;
    }
    100% {
        opacity:0;
    }
}

.fadein {
    animation : fadein 0.7s;
}

.fadeout {
    animation : fadeout 0.9s;
}

.invisible {
    display:none;
}

.showing {
    display:block;
}

.showingAsInline {
    display:inline;
}

.weather {
    position: absolute;
    right:0;
    top:0;
}

.mainBox {
    display:flex;
    height:100vh;
    flex-flow:wrap column;
    justify-content: center;
    align-items:center;
}

.hajimemashite {
    text-align: center;
    font-size: 50px;
}

.nameForm {
    text-align: center;
}

.nameForm input {
    text-align: center;
    font-size: 50px;
    height: 50px;
    width: 300px;
    background: none;
    border: 0;
    border-bottom: 3px solid white;
}

.nameForm input:focus {
    outline: none;
}

.clock {
    margin: 0;
    font-size: 200px;
    font-weight: 100;
}

.toDoList {
    overflow-y: auto;
    height:200px;
}
.bgImage {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    animation:fadein 700ms;
}